.container {
    box-sizing: border-box;
    margin-right: 8px;
    display: inline-block;
}
.select {
    padding: 4px ;
    border-radius: 8px;
    box-shadow: inset 0px 4px 6px var(--shadow-color),
              inset 4px -4px 6px var(--shadow-color);
    outline: none;
}
.validar {
    color: red;
    border-color: red;
}
.validarTexto {
    color: red;
}