.header {
  box-sizing: border-box;
  padding: 8px;
  background-color: var(--text-color);
  color: white;
  border-radius: 16px 16px 0px 0px;
  text-align: center;
  box-shadow: 0px 4px 6px var(--shadow-color);
  margin-top: 8px;
}
.fila {
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  background-color: var(--components-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.fila.desplegar {
  font-weight: bolder;
}
.fila:hover {
  background-color: var(--button-color);
}
.fooder {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 0px 0px 16px 16px;
  background-color: var(--components-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  margin-bottom: 16px;
}
.titulo {
  box-sizing: border-box;
  padding: 0px 16px 16px 8px;
  background-color: black;
  box-shadow: 0px 4px 6px var(--shadow-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}
.nombre {
  box-sizing: border-box;
  padding-left: 16px;
  text-align: left;
  flex-basis: 20%;
  flex-grow: 1;
  max-width: 20%;
}
.inicioSemana {
  flex-basis: 15%;
  flex-grow: 1;
  max-width: 15%;
}
.entradas {
  flex-basis: 15%;
  flex-grow: 1;
  max-width: 15%;
}
.salidas {
  flex-basis: 15%;
  flex-grow: 1;
  max-width: 15%;
}
.existencias {
  flex-basis: 15%;
  flex-grow: 1;
  max-width: 15%;
}
.precio {
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 10%;
}
.participacion {
  flex-basis: 10%;
  flex-grow: 1;
  max-width: 10%;
}

.desplegado {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--components-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  margin: 16px;
}