.navegacion {
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    background-color: var(--text-color);
    color: white;
}
.link {
    text-decoration: none;
    color: var(--components-color);
}
.container {
    box-sizing: border-box;
    margin-top: 8px;
    background-color: var(--components-color);
    box-shadow: 0px 4px 6px var(--shadow-color);
    padding: 16px;
    border-radius: 16px;
}
.botones {
    margin-top: 8px;
}