.header {
  box-sizing: border-box;
  padding: 16px;
  background-color: var(--text-color);
  color: white;
  border-radius: 16px 16px 0px 0px;
  text-align: center;
  box-shadow: 0px 4px 6px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titulo {
  box-sizing: border-box;
  padding: 0px 16px 16px 8px;
  background-color: black;
  box-shadow: 0px 4px 6px var(--shadow-color);
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.container {
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  background-color: var(--components-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.fooder {
  box-sizing: border-box;
  padding: 8px;
  border-radius: 0px 0px 16px 16px;
  background-color: var(--components-color);
  box-shadow: 0px 4px 6px var(--shadow-color);
  margin-bottom: 8px;
}
.nombre {
  flex-basis: 33%;
  flex-grow: 1;
  max-width: 33%;
}
.precio {
  flex-basis: 33%;
  flex-grow: 1;
  max-width: 33%;
}
.cantidad {
  flex-basis: 33%;
  flex-grow: 1;
  max-width: 33%;
}
.nombreTotal {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 25%;
}
.precioTotal {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 25%;
}
.modificadorTotal {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 25%;
}
.cantidadTotal {
  flex-basis: 25%;
  flex-grow: 1;
  max-width: 25%;
}
.button {
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  margin: 8px 2px 0px 2px;
  padding: 8px 12px 8px 12px;
  box-shadow: 0px 4px 6px var(--shadow-color);
}
.button:active {
  transform: scale(0.95);
}
.disabled {
  background-color: var(--botton-color);
}
.enabled {
  background-color: black;
  color: white;
}
.buttonsContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
