.navegacion {
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    background-color: var(--text-color);
    color: white;
}
.link {
    text-decoration: none;
    color: var(--components-color);
}
.picker {
    display: inline-flex;
}
.filtro {
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    background-color: var(--botton-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selects {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    box-sizing: border-box;
    margin-top: 8px;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.table {
    box-sizing: border-box;
    
    height: fit-content;
    background-color: var(--components-color);
    padding: 8px;
    border-radius: 16px;
    margin-right: 4px;
    box-shadow: 0px 4px 6px var(--shadow-color);
}
.info {
    box-sizing: border-box;
    width: fit-content;
}
@media (max-width: 768px) {
    .table {
        width: fit-content;
    }
    .info {
        width: fit-content;
    }
}
@media (min-width: 768px) {
    .table {
        width: 70%;
    }
    .info {
        width: 30%;
    }
}