.navegacion {
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 16px;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0px 4px 6px var(--shadow-color);
}
.busqueda {
    background-color: var(--botton-color);
    box-sizing: border-box;
    padding: 16px;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0px 4px 6px var(--shadow-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.calendario {
    appearance: none;
    background-color: var(--components-color);
    color: var(--text-color);
    box-sizing: border-box;
    padding: 8px;
    border-radius: 16px;
    border: 0px solid var(--components-color);
    text-align: center;
    
    transition: box-shadow 0.4s ease;
}
.calendario:hover {
    box-shadow: 4px 4px 6px var(--shadow-color);
}
.container {
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: auto;
}
.tabla {
    height: fit-content;
    box-sizing: border-box;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}
.info {
    height: fit-content;
    box-sizing: border-box;
    margin-top: 8px;
    margin-left: 4px;
}
.link {
    text-decoration: none;
    color: var(--components-color);
}
@media (max-width: 768px) {
    .tabla {
        width: fit-content;
    }
    .info {
        width: fit-content;
    }
}
@media (min-width: 768px) {
    .tabla {
        width: 70%;
    }
    .info {
        width: 30%;
    }
}
.loadingScreen {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textIcon {
    font-size: 96px;
    color: var(--botton-color);
  }
  .textError {
    font-size: 26px;
    color: var(--botton-color);
  }
  .errorContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }